{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DFG</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-in">
<div class="page">
<div class="main">
<div class="header">
<div class="header-top">
<h1> Digital Footprint <span>Generation</span></h1>
</div>
<div class="header-bottom">
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Extreme Analytics <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By Lean Digital</h2>
</div>
<div class="topmenu">
<ul>
  <li style="background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; padding-left: 0px;">
	  <a href="/home"><span>Home</span></a></li>
  <li><a href="#"><span>About&nbsp;Us</span></a></li>
  <li><a href="#"><span>What's&nbsp;New</span></a></li>
  <li><a href="#"><span>Experts</span></a></li>
  <li><a href="#"><span>R&R</span></a></li>
  <li><a href="#"><span>VOC</span></a></li>
  <li><a href="/"><span>Log Out</span></a></li>
</ul>
</div>
</div>
<div class="content">
<div class="content-left">
<div class="row1">
<h1 class="title"><br>
</h1>
</div>
<div class="row2">
<h2 class="subtitle">About <span>Us</span></h2>
<p><strong>The key focus area for Genpact </strong> right now is  LEAN Digital.
As the name suggests, this website has been exclusively created with the purpose of improving our Digital Footprint. 
It has The key to our success is collaboration, and all are requested to come forward and make this 
initiative a success.<br>
<p>One  of our big focus areas in this year is <strong><font color=#8A0808>LEAN Digital.</font></strong> We  are creating a forum to improve our <strong><font color=#8904B1>Digital Footprint.</font></strong> <br>
  In  this forum all the team&nbsp;members from <strong>Taranvir's</strong> teams will be  present. We&nbsp; will weekly send mails to all team members for their ideas  and then forum experts will connect bi-monthly to discuss and finalize the  given ideas/ opportunities. All experts are responsible for pushing their respective  team for new ideas. <br>
  <strong>Digital  Footprint Generation (DFG)</strong> Forum thanks each one of you for the  immense enthusiasm you have shown to us. Your supports encourage us to make  this forum more efficient and more collaborative-enabled platform. <br>
  As a  result of that we are now live in <strong><font color=#8A0808>G</font></strong><strong>Social</strong> too. We have now our own <strong><font color=#0174DF>private</font></strong> online  portal. <br>
  To  make this effort more successful please contribute and share your ideas and  suggestions regularly on this online forum/blogs.<br>
  If  you need any assistance on contributing your <strong>ideas </strong>please feel free to  share your thoughts/questions in this forum<br>
  We  can speed up the process in this way without wasting any time to wait for next  meeting. </p>
<p>For  any assistance on technical help needed please contact to <strong>DFG Team </strong>|&nbsp;<strong> </strong><a href="mailto:imskol.dfg@genpact.com"><strong>imskol.dfg@genpact.com</strong></a>​<br>
  <br>
  <strong>This forum will work on 4 steps framework:-</strong></p>
<p>1. Consolidate/grouping all  ideas/ opportunity&nbsp; </p>
<p>2. Measure/cost benefit  analysis</p>
<p>3. Identify/ finalize  opportunity</p>
<p>4. Development<br>
</p>


<p>&nbsp;</p>
<p><strong>Our web page is meant to  enable </strong> the experts to come together and 
contribute their ideas and undertake initiatives to help us Go Digital. </p>
<p>&nbsp;</p>

<p>
Thank you all for your support and enthusiasm. 
</p>
<p>&nbsp;</p>

<p>
Looking forward to Digital Disruption!
</p>
<p>&nbsp;</p>

<p align="right"><a href="#" class="more">Read More</a></p>
</div>
</div>
<div class="content-right">
<div class="mainmenu">
<h2 class="sidebar1">Our Apps</h2>

<ul>   
  <li><a href="/BCR/">Business Card Reader</a></li>
  <li><a href="/TSA/">Twitter Sentimental Analysis</a></li>
  <li><a href="/AFT/">Airline Fare Trends</a></li>
  <li><a href="/ACT/">Aspect Classification Tool(H)</a></li>
</ul>

  <ul>   
  <li><a href="/ACT/">Aspect Classification Tool(A)</a></li>	
  <li><a href="/FAT/">Fleet Prediction Tool</a></li>
  <li><a href="/SAN/">Sentimental Analysis by NLP</a></li>
  <li><a href="/login/">Nwlter Automation Tool</a></li> 	
  <li><a href="/RTNT/">Rio Tinto Nwlter Tool</a></li> 
  <li><a href="/CID/">Competitive Intelligence Dashboard</a></li>    
  <li><a href="#">This is in Test Phase Tool 4</a></li>
  <li><a href="#">This is in Test Phase Tool 5</a></li>
  <li><a href="#">This is in Test Phase Tool 6</a></li>  
   
</ul>


</div>
<div class="contact">
<h2 class="sidebar2">Contact</h2>
<div class="contact-detail">
<p class="green"><strong>For any Query please contact us</strong></p>
<p><strong>Site :</strong> 1st Floor, G3, Kolkata <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HMS Analytics</p>
<p><strong>E-mail :</strong> 

<a href="mailto:imskol.dfg@genpact.com">imskol.dfg@genpact.com</a> 

 </p>
<p><strong>Phone :</strong> &nbsp;&nbsp;&nbsp;+91-9836492392<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-9836492392</p>
</div>
</div>
</div>
</div>
<div class="footer">
<p>&copy; Copyright 2016. Designed by <a target="_blank" href="mailto:imskol.dfg@genpact.com">DFG</a>
</p>
<ul>
  <li style="border-left: medium none;">
  <a href="/"><span>Home</span></a></li>
  <li><a href="#"><span>About&nbsp;us</span></a></li>
  <li><a href="#"><span>What's&nbsp;new</span></a></li>
  <li><a href="#"><span>Experts</span></a></li>
  <li><a href="#"><span>R&R</span></a></li>
  <li><a href="#"><span>VOC</span></a></li>
  <li style="padding-right: 0px;">
  <a href="/"><span>Log Out</span></a></li>
</ul>
</div>

</div>
</div>
</div>

</body></html>