<html>
	<head>
	<script type="javascript"></script>
   <title>Business Card Reader</title>
    </head>
   <body>
      
      <form name = "form" action =  "{% url 'ltt' %}"  
         method = "POST" >{% csrf_token %}
       
	   
		<div style="margin-top:200px;" align="center"> 
			<p><font size="15" color="Blue">L</font><font size="15" color="red">T</font><font size="15" color="Orange">T</font></p>
		</div>	
		<div style="margin-top:10px;" align="center"> 
		
		
		<input id="textField1" type="Text" placeholder = "Text folder/file path:" Name="path" ondblclick="fnMain();"   style = "width:550px;" >
		<input class="inputFile" id="uploadBtn" type="file" style="display: none;">
		
		
		<input type="Submit" value="Extract">
		</div>	
         <br>			
         <br>
		</form>

	
		
	  <script>
	   function fnMain()
	   {
		document.getElementById("textField1").value =""
		document.querySelector('.inputFile').click()
	   };
	  
		document.getElementById("uploadBtn").onchange = function () 
		{
			document.getElementById("textField1").value = "D:\\dfg\\dfg\\nlp\\static\\bcard\\" + this.files.item(0).name;
		};
	  </script>
	  
   </body>
</html>














