<html>
   <head>
   <title>AST-Summary</title>
    </head>
   <body>
		<br></br>
		<table style="width:100%">
		  <tr>
			<th><tr><td width='50%' align='justify'><a href=http://www.ndtv.com/india-news/gurmeet-ram-rahim-convicted-31-dead-in-clashes-after-verdict-cops-army-on-alert-10-facts-1742248?pfrom=home-topstories>Army Near Dera Sacha Sauda's Sirsa Base, Thousands Of Followers Inside: 10 Points</a> &nbsp;&nbsp;&nbsp;None<br>There is huge security presence near the headquarters of Gurmeet Ram Rahim Singh's Dera Sacha SaudaSirsa/Chandigarh: A large number of Army troops patrolled near the main base in Haryana's Sirsa town of the Dera Sacha Sauda, a day after its followers went on the rampage over its leader Gurmeet Ram Rahim Singh's conviction in a rape case.
The situation in Sirsa and Panchkula - where the verdict was announced and there was maximum violence - is "very tense but under control", the Home Ministry said today.
36 people have died and over 250 have been injured in the clashes that also spread to other parts of Haryana and Punjab.</td></th>
			<th><td width='25%' align='center'>['thousands', 'saudas', 'base', 'rahim', 'singhs', 'dera', 'followers', 'violence', 'near', 'sacha', 'ram', 'inside', 'points', 'sirsa', 'gurmeet', 'went']</td></th> 
			<th><td width='25%' align='center'><img src="1.png"/></td></tr></th>
		  </tr>
			{{ username|safe }} 
			
		</table>
   </body>
   
</html>
