<style type="text/css">
table.dataframe
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 0.1em solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.2em;
  color: #000;
  background: #bcd0e4 url("widget-table-bg.jpg") top left repeat-x;
}

table.dataframe caption
{
  caption-side: bottom;
  font-size: 0.1em;
  font-style: italic;
  text-align: right;
  padding: 0.1em 0;
}

table.dataframe th, table.dataframe td
{
  border: 0.1em solid #666;
  padding: 0.1em;
  text-align: left;
  color: #632a39;
  border-collapse: collapse;
}

table.dataframe th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.2em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

table.dataframe th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

table.dataframe th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

table.dataframe tr.alt th, table.dataframe tr.alt td
{
  color: #2a4763;

}

table.dataframe tr:hover th[scope=row], table.dataframe tr:hover td
{
  background-color: #632a2a;
  color: #fff;

}
</style>