<style type="text/css">
table.dataframe 
{
	font-family: "Lato","sans-serif";
	font-size:1px;
	color:#333333;
	border-width: 0px;
	border-color: #666666;
	border-collapse: collapse;
}
table.dataframe th {
	border-width: 0px;
	padding: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: lightblue;
}
table.dataframe td {
	border-width: 0px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

</style>